<a href="https://colab.research.google.com/github/pratappatil200436-byte/AI-Enabled-Recommendation-Engine-for-an-E-commerce-Platform/blob/main/preprocessingcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv("/content/olist_orders_dataset.csv")
order_items = pd.read_csv("/content/olist_order_items_dataset.csv")
customers = pd.read_csv("/content/olist_customers_dataset.csv")
products = pd.read_csv("/content/olist_products_dataset.csv")

In [4]:
# Merge order items with orders
data = pd.merge(
    order_items,
    orders[['order_id', 'customer_id', 'order_status']],
    on='order_id',
    how='inner'
)

# Keep only delivered orders
data = data[data['order_status'] == 'delivered']

# Merge products
data = pd.merge(
    data,
    products[['product_id', 'product_category_name']],
    on='product_id',
    how='left'
)

# Merge customers
data = pd.merge(
    data,
    customers[['customer_id', 'customer_unique_id']],
    on='customer_id',
    how='left'
)
df=pd.DataFrame(data)
df.shape
df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,product_category_name,customer_unique_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,cool_stuff,871766c5855e863f6eccc05f988b23cb
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,pet_shop,eb28e67c4c0b83846050ddfb8a35d051
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,moveis_decoracao,3818d81c6709e39d06b2738a8d3a2474
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,perfumaria,af861d436cfc08b2c2ddefd0ba074622
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,ferramentas_jardim,64b576fb70d441e8f1b2d7d446e483c5

In [5]:
transactions = data[['customer_unique_id', 'product_id', 'product_category_name']]

transactions.rename(columns={
    'customer_unique_id': 'user_id',
    'product_id': 'item_id',
    'product_category_name': 'category'
}, inplace=True)

/tmp/ipython-input-3590429736.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions.rename(columns={

In [6]:
print("\nNull values count:")
print(transactions.isnull().sum())

print("\nDuplicate rows count:")
print(transactions.duplicated().sum())

print("\nTotal rows:")
print(transactions.shape[0])

Null values count:
user_id        0
item_id        0
category    1537
dtype: int64

Duplicate rows count:
10412

Total rows:
110197

In [7]:
# Remove missing values
transactions.dropna(inplace=True)
# Remove duplicate interactions
transactions.drop_duplicates(inplace=True)
# Reset index
transactions.reset_index(drop=True, inplace=True)
t=pd.DataFrame(transactions)
t.head()

/tmp/ipython-input-1662854388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions.dropna(inplace=True)
/tmp/ipython-input-1662854388.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions.drop_duplicates(inplace=True)

,user_id,item_id,category
0,871766c5855e863f6eccc05f988b23cb,4244733e06e7ecb4970a6e2683c13e61,cool_stuff
1,eb28e67c4c0b83846050ddfb8a35d051,e5f2d52b802189ee658865ca93d83a8f,pet_shop
2,3818d81c6709e39d06b2738a8d3a2474,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao
3,af861d436cfc08b2c2ddefd0ba074622,7634da152a4610f1595efa32f14722fc,perfumaria
4,64b576fb70d441e8f1b2d7d446e483c5,ac6c3623068f30de03045865e4e10089,ferramentas_jardim

In [8]:
print("\nNull values count:")
print(transactions.isnull().sum())

print("\nDuplicate rows count:")
print(transactions.duplicated().sum())

print("\nTotal rows:")
print(transactions.shape[0])

Null values count:
user_id     0
item_id     0
category    0
dtype: int64

Duplicate rows count:
0

Total rows:
98387

In [9]:
transactions['interaction'] = 1

/tmp/ipython-input-3099862545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions['interaction'] = 1

In [10]:
# Keep users with at least 2 interactions
user_counts = transactions['user_id'].value_counts()
valid_users = user_counts[user_counts >= 2].index
transactions = transactions[transactions['user_id'].isin(valid_users)]

# Keep items with at least 2 interactions
item_counts = transactions['item_id'].value_counts()
valid_items = item_counts[item_counts >= 2].index
transactions = transactions[transactions['item_id'].isin(valid_items)]

In [11]:
transactions.to_csv("cleaned_ecommerce_dataset.csv", index=False)

print("Final cleaned dataset shape:", transactions.shape)

Final cleaned dataset shape: (5623, 4)

In [12]:
from scipy.sparse import csr_matrix

# Encode users and items
user_codes = transactions['user_id'].astype('category').cat.codes
item_codes = transactions['item_id'].astype('category').cat.codes

# Create sparse matrix
user_item_sparse = csr_matrix(
    (transactions['interaction'], (user_codes, item_codes))
)

print("User–Item Sparse Matrix Shape:", user_item_sparse.shape)

User–Item Sparse Matrix Shape: (3629, 1626)